# database credentials
db.php

.env

# Ignore logs
*.log

# Ignore OS files
.DS_Store

# Ignore node (if ever used)
node_modules/

# Ignore cache files
*.cache

# VS Code settings
.vscode/

# SFTP config (if you use it locally)
.vscode/sftp.json